@font-face {
	font-family: "icons";
	font-display: swap;
	src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*=" _icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-whatsapp:before {
	content: "\ea93";
	color: #4caf50;
  }
  ._icon-account:before {
	content: "\e902";
  }
  ._icon-arrow-down:before {
	content: "\1f310";
  }
  ._icon-basket:before {
	content: "\e904";
  }
  ._icon-check:before {
	content: "\e905";
  }
  ._icon-email:before {
	content: "\e906";
  }
  ._icon-phone:before {
	content: "\e907";
  }
  ._icon-place:before {
	content: "\e908";
  }
  ._icon-polygon:before {
	content: "\e909";
  }
  
  
  