@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "variables";
@import "fonts";
@import "icons";
@import "null";

body {
  color: $colorMain;
}

._container {
  max-width: $maxWidthContainer + px;
  padding: 0px 40px;
  margin: 0 auto;
  @media (min-width: $md5+px) {
    padding: 0px 30px;
  }
  @media (min-width: $md2+px) {
    padding: 0px 15px;
  }
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

.buttonLink {
  min-height: 40px;
  width: 100%;
  font-size: 14px;
  line-height: 147.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $colorLinkButton;
  color: $colorWhite;
  padding-bottom: 2px;
}
.buttonLink:hover {
  background-color: darken($colorLinkButton, 5%);
}

.sectionTitle {
  font-size: 20px;
  line-height: 120%;
}

@import "bem/header-nav.scss";
@import "bem/header-contacts.scss";
@import "bem/catalog.scss";
@import "bem/footer.scss";
@import "bem/mainSlider.scss";
@import "bem/services.scss";
