@import "mixin";
@import "variables";
@import "fonts";
@import "icons";
@import "null";

%flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

body {
  color: $colorMain;
}

._container {
  max-width: $maxWidthContainer + px;
  padding: 0px 40px;
  margin: 0 auto;
  @media (min-width: $md5+px) {
    padding: 0px 30px;
  }
  @media (min-width: $md2+px) {
    padding: 0px 15px;
  }
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

._buttonLink {
  min-height: 40px;
  width: 100%;
  font-size: 14px;
  line-height: 147.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $colorLinkButton;
  color: $colorWhite;
  padding-bottom: 2px;
}
._buttonLink:hover {
  background-color: darken($colorLinkButton, 5%);
}

._sectionTitle {
  font-size: 20px;
  line-height: 120%;
  @media (min-width: $md2+px) {
    font-size: 24px;
    line-height: 130%;
  }
}

._communicationWrap {
  @extend %flexSpaceBetween;
}

._communication {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-align: right;
  color: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @media (min-width: $md4+px) {

  }
  @media (min-width: $md2+px) {
    font-size: 16px;
  }
}
._communicationIcon {
  font-size: 16px;
  margin: 0 15px 0 0;
  @media (min-width: $md2+px) {
    margin: 0 17px 0 0;
  }
}

@import "bem/header-nav.scss";
@import "bem/header-contacts.scss";
@import "bem/catalog.scss";
@import "bem/comments.scss";
@import "bem/companyContacts.scss";
@import "bem/footer.scss";
@import "bem/goods.scss";
@import "bem/mainSlider.scss";
@import "bem/services.scss";
@import "bem/request.scss";
