
//<ПЕРЕМЕННЫЕ>===========================================================================================================
$fontFamily: "Exo2";
$fontSize: 14;
$font-weight: 400;

$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1190;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$md5: 375.98;


$colorMain: #333;
$colorWhite: #fff;
$colorLinkButton: #5AA1E1;
$colorDarkBlue: #23527c;
$colorOrange: rgb(255, 57, 30); 
$colorGrey: #8F9BAB; 
$colorFooterText: #B4B4B4;  
$colorBackInput: #EEE;  
$colorWhatsApp: #4CAF50;
$colorStar: #EDEDED;
$colorActiveStar: #FFCC00;
$colorPrivacy: #FAFAFA;






