
//<ПЕРЕМЕННЫЕ>===========================================================================================================
$fontFamily: "Exo2";
$fontSize: 14;

$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1190;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$md5: 375.98;


$colorMain: #333;
$colorWhite: #fff;
$colorLinkButton: #5AA1E1;
$colorDarkBlue: #23527C;
$colorOrange: #FF391E; 
$colorGrey: #8F9BAB; 
$colorFooterText: #B4B4B4; 

$fontLogotype: "lato-black", sans-serif;
$fontMainNav: "lato-bold", sans-serif;
$fontHeaderTitle: "lemonmilk", sans-serif;
$fontSectionTitle: "peace sans", sans-serif;
$fontSectionTextExtraBold: "open sans_extrabold", sans-serif;
$fontSectionText: "open sans", sans-serif;
$fontQuote: "firasans-regular", sans-serif;



