.b-catalog {
  &_indent {
    padding: 24px 0 44px;
    @media (min-width: $md4+px) {
      padding: 50px 0;
    }
    @media (min-width: $md2+px) {
      padding: 44px 0;
    }
  }

  &__title {
    &_indent {
      margin: 0 0 26px 0;
    }
  }

  &__inputContainer {
    @media (min-width: $md4+px) {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }

  &__inputDiv {
    width: 100%;
    height: 28px;
    padding: 7px 15px;
    border: 1px solid $colorFooterText;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px 0;
    // }
    &_back {
      background-color: $colorBackInput;
    }
    &_border {
      border: 1px solid $colorLinkButton;
    }
    @media (min-width: $md4+px) {
      width: 180px;
      padding: 7px 10px;
      margin: 0 20px 20px 0;
    }
    @media (min-width: $md2+px) {
      width: 190px;
      padding: 5px 10px;
    }
  }

  &__input {
    width: 95%;
    &_back {
      background-color: $colorBackInput;
    }
  }

  &__inputIcon {
    flex: 0 0 11px;
  }

  &__buttonSearch {
    width: 100%;
    min-height: 28px;
    margin: 20px 0 0 0;

    @media (min-width: $md4+px) {
      width: 120px;
      margin: 0 0 20px 0;
    }
  }

  &__grid {
    margin: 30px 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 90px);
    gap: 12px;
    justify-content: center;
    @media (min-width: $md2+px) {
      grid-template-columns: repeat(auto-fit, 110px);
      gap: 20px;
      margin: 40px 0;
    }
  }

  &__item {
    display: block;
    padding: 7px;
    width: 90px;
    min-height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: inherit;
    border: 1px solid $colorFooterText;
    @media (min-width: $md2+px) {
      width: 110px;
      min-height: 100px;
    }
  }

  &__logoImg {
    display: block;
    width: 40px;
    height: 40px;
    object-fit: contain;
    object-position: center;
    margin: 0 0 10px 0;
    @media (min-width: $md2+px) {
      width: 50px;
      height: 50px;
      margin: 0 0 5px 0;
    }
  }

  &__logoText {
    font-size: 16px;
    line-height: 135%;
    text-align: center;
  }

  &__buttonShow {
    min-height: 40px;
    font-weight: 500;
    line-height: 130%;
    &._hold {
      opacity: 0.4;
      cursor: default;
    }

    @media (min-width: $md4+px) {
      font-size: 16px;
      line-height: 140.3%;
      width: 200px;
      margin: 0 auto;
    }
  }
}
