.b-comments {
  &_indent {
    padding: 0 0 50px 0;
    @media (min-width: $md4+px) {
      padding: 0 0 60px 0;
    }
    @media (min-width: $md2+px) {
      padding: 0 0 80px 0;
    }
  }

  &__items {
    &_indent {
      margin: 26px 0 0 0;
      @media (min-width: $md2+px) {
        margin: 34px 0 0 0;
      }
    }
    display: grid;
    grid-template-columns: repeat(auto-fit, 140px);
    gap: 15px;
    justify-content: center;
    @media (max-width: 374px) {
      grid-template-columns: 1fr;
    }
    @media (min-width: $md4+px) {
      grid-template-columns: repeat(auto-fit, 300px);
      gap: 20px;
    }
    @media (min-width: $md2+px) {
      grid-template-columns: repeat(4, 1fr);
      gap: 40px;
    }
  }

  &__item {
    padding: 20px;
    max-width: 140px;
    min-height: 120px;
    border: 1px solid $colorFooterText;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 374px) {
      max-width: 100%;
    }
    @media (min-width: $md4+px) {
      max-width: 300px;
    }
    @media (min-width: $md2+px) {
      max-width: 100%;
    }
  }

  &__serviceImg {
    height: 17px;
    object-fit: contain;
    object-position: center;
  }

  &__service {
    text-align: center;
  }

  &__link {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $colorDarkBlue;
  }
  &__show {
    text-decoration: underline;
    margin: 0 7px 0 0;
  }
}

.b-rating {
  width: 96px;
  margin: 0 auto;
  display: flex;
  &_indent {
    margin: 12px 0 16px 0;
  }
  &__star {
    padding: 0;
    font-size: 14px;
    margin: 0 1px;
    line-height: 1;
    color: $colorStar;
    &:before {
      content: "★";
    }
    &.active {
      color: $colorActiveStar;
    }
  }

  &__result {
    font-family: Roboto;
    font-size: 14px;
    line-height: 135.3%;
    margin: 0 0 0 7px;
  }
}
