%colorInherit {
  color: inherit;
}
.b-footer {
  &_background {
    background-color: $colorMain;
  }

  &_indent {
    padding: 43px 0 33px 0;
  }

  &__gridContainer {
    display: grid;
    column-gap: 10px;
    row-gap: 12px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "catalog services"
      "information logo"
      "design design"
      "text text";
    @media (min-width: $md4+px) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 60px;
      grid-template-areas:
        "catalog services information"
        " logo text text"
        " logo design design";
    }
    @media (min-width: $md2+px) {
      grid-template-columns: repeat(4, 1fr);
      row-gap: 27px;
      grid-template-areas:
        "logo catalog services information"
        " text text text design";
    }
  }

  &__item {
    color: $colorWhite;
  }

  &__catalog {
    grid-area: catalog;
    margin: 0 0 15px 0;
    @media (min-width: $md4+px) {
      margin: 0 0 24px 0;
    }
    @media (min-width: $md2+px) {
      margin: 0;
    }
  }

  &__title {
    font-size: 14px;
    line-height: 140.3%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    &_indent {
      margin: 0 0 8px 0;
      @media (min-width: $md2+px) {
        margin: 0 0 15px 0;
      }
    }
    @media (min-width: $md2+px) {
      font-size: 16px;
    }
  }

  &__link {
    display: block;
    @extend %colorInherit;
    font-size: 10px;
    line-height: 12px;
    &_indent {
      margin: 0 0 7px 0;
      @media (min-width: $md2+px) {
        margin: 0 0 8px 0;
      }
    }
    &:hover {
      color: $colorLinkButton;
    }
    @media (min-width: $md2+px) {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__services {
    grid-area: services;
    margin: 0 0 15px 0;
    @media (min-width: $md4+px) {
      margin: 0 0 24px 0;
    }
    @media (min-width: $md2+px) {
      margin: 0;
    }
  }

  &__information {
    grid-area: information;
    @media (min-width: $md4+px) {
      margin: 0 0 24px 0;
    }
    @media (min-width: $md2+px) {
      margin: 0;
    }
  }

  &__logotype {
    grid-area: logo;
  }

  &__logo_disposition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &__logoImg {
    transition: width 0.8s ease 0s;
    display: block;
    width: 74px;
    height: 40px;
    object-fit: contain;
    object-position: center;
    @media (min-width: $md2+px) {
      width: 89px;
      height: 49px;
    }
  }

  &__name–°ompany {
    transition: font-size 0.8s ease 0s;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    @media (min-width: $md2+px) {
    }
  }
  &__copyright {
    font-size: 8px;
    line-height: 130%;
    @media (min-width: $md2+px) {
      font-size: 10px;
      line-height: 147.3%;
    }
    &_indent {
      margin: 8px 0;
      @media (min-width: $md4+px) {
        margin: 10px 0 5px;
      }
      @media (min-width: $md2+px) {
        margin: 15px 0 18px;
      }
    }
  }

  &__privacyPolicy {
    @extend %colorInherit;
    font-size: 8px;
    line-height: 130%;
    text-decoration-line: underline;
    @media (min-width: $md2+px) {
      font-size: 10px;
      line-height: 147.3%;
    }
    &:hover {
      color: $colorLinkButton;
    }
  }

  &__designText_textDecor {
    font-size: 8px;
    line-height: 147.3%;
    color: $colorFooterText;
    @media (min-width: $md4+px) {
      font-size: 10px;
    }
  }

  &__design {
    grid-area: design;
  }

  &__designLink {
    @extend %colorInherit;
    text-decoration: underline;
    &:hover {
      color: $colorLinkButton !important;
    }
  }

  &__text {
    grid-area: text;
    @media (min-width: $md4+px) {
      max-width: 332px;
    }

    @media (min-width: $md2+px) {
      max-width: 635px;
    }
  }
}
