.b-request {
  color: $colorWhite;
  @media (min-width: $md2+px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &_indent {
    transition: margin 0.8s ease 0s;
    padding: 34px 30px 45px;
    margin: 0 0 50px 0;
    @media (min-width: $md4+px) {
      margin: 0 0 60px 0;
    }
    @media (min-width: $md2+px) {
      margin: 0 0 80px 0;
    }
  }

  &_back {
    background-color: $colorMain;
  }

  &_item {
  }
  &_item:last-child {
    margin: 29px 0 0 0;
    @media (min-width: $md4+px) {
      margin: 32px 0 0 0;
    }
    @media (min-width: $md2+px) {
      margin: 0 0 0 0;
    }
  }
  &__title {
    @media (min-width: $md2+px) {
      max-width: 294px;
    }
    &_indent {
      margin: 0 0 10px 0;
      @media (min-width: $md2+px) {
        margin: 0 0 22px 0;
      }
    }
  }

  &__text {
    &_indent {
      margin: 0 0 27px 0;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
  }

  &__inputTel {
    padding: 11px 20px;
    width: 100%;
    @media (min-width: $md4+px) {
      width: 200px/350px * 100%;
    }
    &::placeholder {
      font-size: 12px;
      line-height: 120%;
      color: $colorFooterText;
      display: flex;
      align-items: center;
    }
    &_indent {
      margin: 0 0 7px 0;
      @media (min-width: $md4+px) {
        margin: 0 0 0 0;
      }
    }
  }

  &__submit {
    @media (min-width: $md4+px) {
      width: 150px/350px * 100%;
    }
  }

  &__privacyPolicy {
    font-size: 10px;
    line-height: 12px;
    color: $colorPrivacy;
    @media (min-width: $md4+px) {
      max-width: 244px;
    }
    &_indent {
      margin: 10px 0 0 0;
      @media (min-width: $md2+px) {
        margin: 12px 0 0 0;
      }
    }
  }
  &__communicationWrap {
    &_indent {
      margin: 24px 0 20px 0;
      @media (min-width: $md4+px) {
        margin: 26px 0 20px 0;
      }
      @media (min-width: $md2+px) {
        margin: 36px 0 20px 0;
      }
    }
  }

  &__communication {
    font-size: 16px;
    @media (min-width: $md4+px) {
    }
    @media (min-width: $md2+px) {
      font-size: 18px;
      line-height: 140.3%;
    }
  }

  &__phoneIcon {
    font-size: 20px;
    @media (min-width: $md2+px) {
      font-size: 24px;
    }
  }

  &__whatsAppIcon {
    width: 20px;
    height: 20px;
    color: $colorWhatsApp;
    @media (min-width: $md2+px) {
      width: 24px;
      height: 24px;
    }
  }
}
