.b-request {
  color: $colorWhite;

  &_indent {
    padding: 34px 30px 45px;
  }

  &_back {
    background-color: $colorMain;
  }

  &_item {
  }
  &_item:last-child {
      margin: 29px 0 0 0;
  }
  &__title {
    &_indent {
      margin: 0 0 10px 0;
    }
  }
  &__text {
    &_indent {
      margin: 0 0 27px 0;
    }
  }

  &__inputTel {
    padding: 11px 20px;
    width: 100%;
    &::placeholder {
      font-size: 12px;
      line-height: 120%;
      color: $colorFooterText;
      display: flex;
      align-items: center;
    }
    &_indent {
      margin: 0 0 7px 0;
    }
  }

  &__submit {
  }

  &__privacyPolicy {
    font-size: 10px;
    line-height: 12px;
    color: $colorPrivacy;
    &_indent {
      margin: 9px 0 0 0;
    }
  }

  &__communication {
  }

  &__phoneIcon {
  }

  &__whatsAppIcon {
  }
}
