.b-services {
  overflow: hidden;
  &_indent {
    padding: 45px 0 0 0;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 7px;
    @media (min-width: $md2+px) {
      margin: 0 0 53px 0;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 22px 1fr;
    grid-template-rows: auto;
    column-gap: 15px;
    row-gap: 7px;
    margin: 0 0 22px 0;
    @media (min-width: $md4+px) {
      grid-template-columns: 22px 260px;
    }
    @media (min-width: $md2+px) {
      grid-template-columns: 28px 280px;
      column-gap: 20px;
      row-gap: 10px;
    }
  }
  &__item:first-child {
    @media (min-width: $md4+px) {
      order: 1;
    }
  }
  &__item:nth-child(2) {
    @media (min-width: $md4+px) {
      order: 3;
    }
  }
  &__item:last-child {
    @media (min-width: $md4+px) {
      order: 2;
    }
  }

  &__itemIcon {
    color: $colorLinkButton;
    font-size: 22px;
    grid-row: 1/3;
    @media (min-width: $md2+px) {
      font-size: 28px;
    }
  }

  &__listTitle {
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    @media (min-width: $md2+px) {
      font-size: 16px;
      line-height: 146.3%;
    }
  }

  &__listText {
    font-size: 14px;
    line-height: 125%;
    @media (min-width: $md2+px) {
      font-size: 16px;
      line-height: 135%;
    }
  }

  &__wrap {
    @media (min-width: $md2+px) {
        display: flex;
    }
  
  }

  &__serviceArticle {
    &_shadow {
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.07);
    }
    padding: 0 0 0 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media (min-width: $md2+px) {
      width: 49%;
    }
  }
  &__serviceArticle:last-child {
    padding: 50px 0 0 30px;
    @media (min-width: $md2+px) {
      padding: 0 0 0 30px;
    }
  }
  &__serviceArticleContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 200px;
    @media (min-width: $md4+px) {
      flex: 0 0 250px;
      margin: 0 5px 0 0;
    }
    @media (min-width: $md2+px) {
      margin: 0 15px 0 0;
      flex: 0 0 290px;
    }
  }

  &__articleTitle {
    font-size: 20px;
    line-height: 120%;
    margin: 24px 0 0 0;
    @media (min-width: $md4+px) {
      margin: 34px 0 0 0;
    }
    @media (min-width: $md2+px) {
      font-size: 24px;
      line-height: 130%;
      margin: 30px 0 0 0;
    }
  }

  &__articleText {
    font-size: 14px;
    line-height: 125%;
    margin: 15px 0 21px 0;
    @media (min-width: $md4+px) {
      margin: 12px 0 19px 0;
    }
    @media (min-width: $md2+px) {
      font-size: 16px;
      line-height: 135%;
      max-width: 250px;
      margin: 14px 0 30px 0;
    }
  }

  &__articleLink {
    min-height: 38px;
    font-weight: 500;
    line-height: 130%;
    margin: 0 0 30px 0;
    @media (min-width: $md4+px) {
      font-size: 16px;
      line-height: 140.3%;
      min-height: 40px;
      width: 200px;
      margin: 0 0 40px 0;
    }
    @media (min-width: $md2+px) {
        margin: 0 0 40px 0;
    }
  }
  &__articleImgWrap {
    transition: width 0.8s ease 0s;
    top: 0;
    transform: translate(15px);
    max-width: 220px;
    height: 220px;
    flex: 0 0 220px;
    overflow: hidden;
    @media (min-width: $md4+px) {
      transform: translate(0);
    }
    @media (min-width: $md2+px) {
        max-width: 255px;
        height: 255px;
        flex: 1 1 255px;
    }
  }
  &__articleImg {
    display: block;
    max-width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: -90px center;
    @media (min-width: $md4+px) {
      border-radius: unset;
      object-fit: contain;
      object-position: center;
    }
    @media (min-width: $md2+px) {
        object-position: 30px center;
        object-fit: cover;
    }
  }
}
